:root {
  --dark: #14171d;
  --dark-x: #1d2027;
}

.bg-dark { background-color: var(--dark) !important; }

body{
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* about us */
.img-wrap{
  width: 100%;

}

#aboutus h2{
  margin-bottom: 25px;
}

.img-wrap img{
  width: 100%;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px #999999;

}
/* fin aboutus */

/* valores */

@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');




.wrapper{
  margin-top: 50px;

}

.wrapper h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: linear-gradient(#FFEF06, #FDC70F);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

/* fin valores */

/* NAV DINAMICO */
.navbar {
  min-height: 5rem;
}
/* FIN NAV  */



 /* footer responsive */

 footer {
    background-color: #1D2027;
    font: bold 14px;
    padding: 20px 0 !important;
    color: white;
    /* fuente nuevA */
    font-family: 'Roboto', sans-serif;
  }

  footer .footer-left,
  footer .footer-center,
  footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  footer .footer-links a {
    padding-right: 10px;
  }

  footer .footer-center i {
    display: none;
  }

  footer .footer-connect {
    display: none;
  }

  


 /* fin footer responsive */